/*Propiedades de página Comunidad Ecofriendly*/

main{
    background-color: $color-secundario;
    .titulo-main-eco{
        color: rgb(46, 46, 66);
        font-size: 2rem;
        margin-top: 1.5rem;
        text-align: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 2rem;
    }
    
    .video-main{
        display: flex;
        align-items: center;
        margin: 20px;
        padding: 30px;
        text-align: center;
    }
    

}