/*Página Contactos - parte de main */

main{
    background-color: $color-secundario;
    form legend {
        @include flex;
        color:rgb(27, 6, 6);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 3rem;
        margin: 2rem 1rem 1.5rem 1rem;
        padding: 2rem;
    }
    
    form div {
        display: flex;
        justify-content: center;
        color:#111425;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.2rem;
        width:bold;
        margin: 1rem;
        padding: 1rem;
    }
    
    .botones{
        @extend %botones
    }
    
    .botones2{
       @extend %botones
    }
}